<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{{ "img/eclipse_s-core.png" | relURL }}" alt="S-CORE Logo" class="s-core-logo">
      </a>
      
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="https://github.com/eclipse-score/score" target="_blank">GitHub</a></li>
            <li class="nav-item"><a class="nav-link" href="https://projects.eclipse.org/projects/automotive.score" target="_blank">Get Involved</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  